body{
    background-color: rgb(31, 30, 30);
}
@keyframes fadeIn {
    to {
          opacity: 1;
        }
      }
    

.fade-in-d {
    opacity: 0;
    animation: fadeIn 2s ease-in 1 forwards;
          }
.img-logo{
    width:50px;
    height:50px;
}

.yellow{
    color:goldenrod;
    text-decoration: none;
}
.yellow:hover{
    color:black;

}
.landing{
    background-image:linear-gradient(rgba(15, 0, 44, 0.453),rgba(0, 0, 49, 0.618));
    padding-top:30px;
}
.start{
    background-image: url('start.png');
    width: 500px;
    height:400px;
    margin-top: 50px;
    padding-top: 150px;
    color: coral;
   
}
.caption{
    background-color: rgba(0, 0, 0, 0.713);
    padding-top: 50px;
    padding-bottom:50px;

}
.navbar{
    position: fixed;
    overflow: hidden;
    top: 0; 
    width: 100%;
    z-index:9;
}
.button:hover{
    background-color: darkslateblue;
    color:white;
    border: none;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 20px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
h2{
    color: darkgrey;
}

.hrq{
    background-color: darkgray;
    border-top: 1px dashed;
    margin-left: 200px;
    margin-right: 200px;
}

.category{
    padding : 50px;
    text-align: center;
    color:white;
}
.card-img-top{
    padding:10px;
}
.card-body{
    background-color: darkslategrey;
}
.card-title,.card-text{
    text-align:center;
}
.card{
    margin: 5px;
  }

.blog{
    
        background-image: linear-gradient(to right bottom, rgb(24, 0, 82), rgb(1, 63, 111));
        margin-top: 0px;
        margin-bottom:20px;
        margin-left:10px;
        margin-right:10px;
        padding-bottom:10px;
        border-radius: 20px;
        padding-top:10px;
      
}  
.btn{
    border-color: darkslateblue;
    width:200px;
    text-align:center;
    font-weight: bolder;
}
.btn-connect{
    border-radius: 5px;
    border-color: darkorchid;
    background-color: rgb(0, 0, 0);
    font-size: medium;
}
.btn-connect:hover{
    background-color: rgb(83, 0, 124);
    color: blanchedalmond;
}
.btn-c:hover{
    background-color: rgb(235, 136, 70);
    color: blanchedalmond;
}
.foot-logo{
    height:150px;
    width:150px;
}

.tcolor{
    color:black;
}
.card-title{
    color:white;
}
@media(max-width: 480px){
.img-logo{
    width:40px;
    height:40px;
    }
.start{
    width: 375px;

}
h2{
    font-size:small;
}
.category{
    padding:30px;
}  
.foot-logo{
    height:90px;
    width:90px;
}
}